.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.--editable-info__container {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.--editable-info__table {
  scroll-snap-type: x mandatory;
  width: 100%;
  font-size: smaller;
}

.--editable-info__table thead th {
  text-align: center !important;
  padding: 6px 8px !important;
  background-color: rgb(0, 175, 255) !important;
  border-bottom: 1px solid rgb(0, 175, 255) !important;
  border-left: 1px solid transparent !important;
  color: black !important;
  font-size: 0.75rem;
  font-weight: bolder !important;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.--editable-info__table tbody tr:nth-child(odd) {
  background-color: white !important;
}

.--editable-info__table tr td {
  padding: 6px 8px !important;
  background-color: transparent !important;
  border-bottom: 1px solid rgb(0, 175, 255) !important;
  font-size: 0.72rem;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.--editable-info__table tfoot tr td {
  padding: 2px 8px !important;
  font-size: 0.75rem !important;
  font-weight: bolder;
}
