.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5%;
	width: 100%;
}

.upload-form {
	width: 66%;
}

.form-item-container {
	display: flex;
	justify-content: center;
}

.ant-upload.ant-upload-drag{
	width: 80% !important;
	margin: 20px !important;
	}
	.ant-upload-list.ant-upload-list-picture{
	width: 100% !important;
	margin: 20px !important;
	}
